@{
    ViewData["Title"] = "Курсова робота";
    Layout = "_Layout";
}
@using BusinessCore.Models;
@{
    UserChangeResponseModel model = ViewBag.Model;
}

<div class="container blur-settings mt-5 mb-5">
    <div class="row">
        @{
            <div class="col-md-6 border-right">
                <div class="p-3">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        @if (model.User.Id == 0)
                        {
                            <h4 class="header-color">Створення користувача</h4>
                        }
                        else
                        {
                            <h4 class="header-color">Редагування користувача</h4>
                        }
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 input-container me-5 w-45">
                          <input type="text" id="second_name" value="@(model?.User?.SecondName)" required>
                          <label for="second_name"> Прізвище </label>
                          <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-6 input-container w-45">
                          <input type="text" id="first_name" value="@(model?.User?.FirstName)" required>
                          <label for="first_name"> Ім'я </label>
                          <div class="bottom-line"></div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12 input-container">
                          <input type="text" id="middle_name" value="@(model?.User?.MiddleName)" required>
                          <label for="middle_name"> По батькові </label>
                          <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 input-container">
                          <input type="text" id="email" value="@(model?.User?.Email)" required autocomplete="off">
                          <label for="email"> Email </label>
                          <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 input-container">
                          <input type="text" id="phone" value="@(model?.User?.Phone)" required autocomplete="off">
                          <label for="phone"> Телефон </label>
                          <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 select-container">
                            <select id="rank" aria-label="Виберіть зі списку" required>
                                <option selected>@(model?.User?.Rank)</option>
                                @foreach (string rank in model.Ranks)
                                {
                                    <option>@rank</option>
                                }
                            </select>
                            <label for="rank"> Звання </label>
                            <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 select-container">
                            <select id="commission" aria-label="Виберіть зі списку" required>
                                <option selected>@(model?.User?.Comission)</option>
                                @foreach (string comission in model.Commissions)
                                {
                                    <option>@comission</option>
                                }
                            </select>
                            <label for="commission"> Коміссія </label>
                            <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 select-container">
                            <select id="chair" aria-label="Виберіть зі списку" required>
                                <option selected>@(model?.User?.Chair)</option>
                                @foreach (string chair in model.Chairs)
                                {
                                    <option>@chair</option>
                                }
                            </select>
                            <label for="chair"> Кафедра </label>
                            <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 select-container">
                            <select id="workType" aria-label="Виберіть зі списку" required>
                                <option selected>@(model?.User?.WorkType)</option>
                                @foreach (string workType in model.WorkTypes)
                                {
                                    <option>@workType</option>
                                }
                            </select>
                            <label for="workType"> Тип найму </label>
                            <div class="bottom-line"></div>
                        </div>

                        <div class="col-md-12 select-container">
                            <select id="category_access" aria-label="Виберіть зі списку" required>
                                <option selected>@(model.User.AccessLevel)</option>
                                @foreach (string access in model.AccessLevels)
                                {
                                    <option>@access</option>
                                }
                            </select>
                            <label for="category_access"> Рівень доступу </label>
                            <div class="bottom-line"></div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6 text-center"> 
                        <button 
                            class="manage-button" 
                            id="saveBtn" 
                            type="button"
                        > Зберегти профіль </button>
                        </div>

                        <div class="col-md-6 text-center"> 
                            <button 
                                class="manage-button" 
                                id="reloadBtn" 
                                type="button"
                            > Скинути зміни </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h4 class="header-color"> Досвід користувача </h4>
                    </div>
    
                    <div class="col-md-12 input-container">
                      <input type="text" value="@(model.User.WorksAmmount)" required disabled>
                        <label for="category_access">Кількість зареєстровних робіт</label>
                      <div class="bottom-line"></div>
                    </div>
    
                    <div class="col-md-8 text-center"> 
                        <button 
                            class="manage-button" 
                            type="button"
                            onclick="WorkButton(@(model.User.Id.ToString()))"
                        > Переглянути досвід </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="operation_success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Увага</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" style="border: none; background: transparent">
                    <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                Зміни внесено
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmBtn" class="manage-button">Зрозуміло</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/redirection.js"></script>
<script src="~/js/ChangeUser.js" type="module"></script>
