@{
    ViewData["Title"] = "Курсова робота";
    Layout = "_Layout";
}
@using BusinessCore.Models;
@{
    UserFullModel model = ViewBag.User as UserFullModel;
}
<div class="container mt-5 mb-5 blur-settings">
    <div class="row">
        <div class="col-md-6 border-right">
            <div class="p-3">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h4 class="header-color"> Налаштування профілю </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 input-container me-5 w-45">
                      <input type="text" id="second_name" value="@(model?.User?.SecondName)" required>
                      <label for="second_name"> Прізвище </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-6 input-container w-45">
                      <input type="text" id="first_name" value="@(model?.User?.FirstName)" required>
                      <label for="first_name"> Ім'я </label>
                      <div class="bottom-line"></div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 input-container">
                      <input type="text" id="middle_name" value="@(model?.User?.MiddleName)" required>
                      <label for="middle_name"> По батькові </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="email" value="@(model?.User?.Email)" required>
                      <label for="email"> Email </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="phone" value="@(model?.User?.Phone)" required>
                      <label for="phone"> Телефон </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="rank" value="@(model?.User?.Rank?.Name)" required disabled>
                      <label for="rank"> Посада </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="academic_degree" value="@(model?.User?.Commission?.Name)" required disabled>
                      <label for="academic_degree"> Коміссія </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="chair" value="@(model?.User?.Chair?.Name)" required disabled>
                      <label for="chair"> Кафедра </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="category_access" value="@(model?.Department?.Name)" required disabled>
                      <label for="category_access"> Відділення </label>
                      <div class="bottom-line"></div>
                    </div>

                    <div class="col-md-12 input-container">
                      <input type="text" id="category_access" value="@(model?.User.AccessLevel.Name)" required disabled>
                      <label for="category_access"> Ваш рівень доступу </label>
                      <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 text-center"> 
                        <button 
                            class="manage-button" 
                            id="saveBtn" 
                            type="button"
                        > Зберегти профіль </button>
                    </div>

                    <div class="col-md-6 text-center"> 
                        <button 
                            class="manage-button" 
                            id="reloadBtn" 
                            type="button"
                        > Скинути зміни </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 d-flex justify-content-center align-items-center flex-column">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h4 class="header-color"> Досвід користувача </h4>
                </div>

                <div class="col-md-12 input-container">
                  <input type="text" value="@(model.User.WorkAmmount)" required disabled>
                  <label for="category_access"> Ваш рівень доступу </label>
                  <div class="bottom-line"></div>
                </div>

                <div class="col-md-8 text-center"> 
                    <button 
                        class="manage-button" 
                        type="button"
                        onclick="WorkButton(@(model.User.IdUserInfo.ToString()))"
                    > Переглянути досвід </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/redirection.js"></script>
<script src="~/js/mainIndex.js" type="module"></script>
