@{
    ViewData["Title"] = "Курсова робота";
    Layout = "_Layout";
}
@using BusinessCore.Models;
@{
    List<UserTableModel> users = ViewBag.UserTable as List<UserTableModel>;
    UserFullModel user = ViewBag.User as UserFullModel;
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        @{
            <div class="table-responsive pt-3 pb-1">
                <table class="table Smarttable" style="font-size:90%">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">ПІБ</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">Посада</th>
                            <th scope="col">Зайнятість</th>
                            <th scope="col">Кафедра</th>
                            <th scope="col">Коміссія</th>
                            <th scope="col">Відділення</th>
                            <th scope="col">Рівень доступу</th>
                            @if (user.User.AccessLevel.User)
                            {
                                <th scope="col"><button class="btn btn-primary btn-success" type="button" style="width:220px" onclick="AddButton()">Додати нового користувача</button></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserTableModel row in users)
                        {
                            <tr>
                                <th scope="row">@row.Id</th>
                                <td>@($"{row.SecondName} {row.FirstName}")</td>
                                <td>@row.Email</td>
                                <td>@row.Phone</td>
                                <td>@row?.Rank</td>
                                <td>@row?.WorkType</td>
                                <td>@row?.Chair</td>
                                <td>@row?.Comission</td>
                                <td>@row?.Department</td>
                                <td>@row.AccessLevel</td>
                                <td style="width:240px;">
                                    <button class="btn btn-success" type="button" onclick="EditButton(@row.Id.ToString())">Редагувати</button>
                                    @if (row.DeletionDate == null && user.User.AccessLevel.User)
                                    {
                                        <button class="btn btn-danger" type="button" onclick="DeleteButton(@row.Id.ToString())">Видалити</button>
                                    }
                                    else if (user.User.AccessLevel.User)
                                    {
                                        <button class="btn btn-primary" type="button" onclick="RestoreButton(@row.Id.ToString())">Активація</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteBackDrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Увага</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Чи дійсно хочете видалити користувача?
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmDeleteBtn" class="btn btn-success">Так</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ні</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="restoreModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restoreModalLabel">Активація користувача</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Ім'я користувача</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Пароль</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="restoreConfirm" class="btn btn-success">Активувати</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="~/js/UserTable.js"></script>

