@{
    ViewData["Title"] = "Дипломна робота";
    Layout = "_Layout";
}
@using BusinessCore.Models;
@{
    List<WorkTableModel> models = ViewBag.WorkTable as List<WorkTableModel>;
    UserFullModel user = ViewBag.User as UserFullModel;
    int id = ViewBag.Id;
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        @{
            <div class="table-responsive pt-3 pb-1">
                <table class="table Smarttable" style="font-size:90%">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Тип</th>
                            <th scope="col">Назва</th>
                            <th scope="col">Опис</th>
                            @if (user.User.IdUserInfo == id)
                            {
                                <th scope="col"><button class="btn btn-primary btn-success" type="button" style="width:220px" onclick="AddButton()">Додати</button></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WorkTableModel row in models)
                        {
                            <tr>
                                <th scope="row">@row.Id</th>
                                <td>@row.OrganizationType</td>
                                <td>@row.Name</td>
                                <td>@row.Description</td>
                                <td style="width:240px;">
                                    @if (user.User.IdUserInfo == id)
                                    {
                                        <button class="btn btn-success" type="button" onclick="EditButton(@row.Id.ToString())">Редагувати</button>
                                        <button class="btn btn-danger" type="button" onclick="DeleteButton(@row.Id.ToString())">Видалити</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteBackDrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Увага</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Чи дійсно хочете видалити це?
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmDeleteBtn" class="btn btn-success">Так</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ні</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="~/js/WorkTable.js"></script>

